<% layout("layout/biolerplate") %>

<div class="container mt-5">
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Error Occurred!</h4>
    <p><%= err.message || "Something went wrong." %></p>
  </div>
</div>
